.page-contact-pane {
    box-sizing: border-box;
    margin-top: 138px;
    padding: 0 1.8%;
}

.contact-pane__name {
    float: left;
    margin-bottom: 106px;
    font-size: 24px;
}

.contact-pane__actions {
    float: right;
}

.contact-pane__action {
    margin-left: 24px;
    font-size: 18px;
    color: $color_gray;

    @include link;
    @include hoverEffects;
}

.contact-pane__photo {
    clear: both;
    overflow: hidden;
    width: 340px;
    height: 340px;
    margin: 106px auto;
    text-align: center;
    border-radius: 50%;
    background: $colorBg_darkGray;
}
.contact-pane__photo img {
    max-width: 250px;
    padding-top: 40px;
}


.contact-pane__blocking-icon {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 50%;
    font-size: 32px;
    line-height: 32px;
    color: $color_white;

    @include link;
@include hoverEffects;
}
.contact-pane__icon-dnd {
    float: left;
    background: $color_green;
}
.contact-pane__icon-block {
    position: relative;
    float: right;
    width: 47px;
    height: 51px;
    background: $color_red;
    font-size: 24px;
}
