<div class="contact-pane__name"><%= name %></div>
<div class="contact-pane__actions">
    <div class="contact-pane__action fa fa-comments"></div>
    <div class="contact-pane__action fa fa-video-camera"></div>
    <div class="contact-pane__action fa fa-phone"></div>
</div>
<div class="contact-pane__photo">
    <img src="<%= picture %>">
</div>
<div class="contact-pane__blocking">
    <div class="contact-pane__blocking-icon contact-pane__icon-dnd fa fa-moon-o"></div>
    <div class="contact-pane__blocking-icon contact-pane__icon-block fa fa-user-times"></div>
</div>